@seguros-bolivar:registry=https://segurosbolivar.jfrog.io/artifactory/api/npm/seguros-bolivar-ui-lib-virtual/
//segurosbolivar.jfrog.io/artifactory/api/npm/seguros-bolivar-ui-lib-virtual/:_authToken=cmVmdGtuOjAxOjE4MDYxNjY1NTE6Njl2NWtMSTdqVDZzbDRDdDVsNXRROHY4dGNS